div.my-currency-input.svelte-kqxn9h input.currencyInput__formatted {
	width: 100%;
	background: transparent;
	border-radius: 0.5rem;
}
div.my-currency-input-error.svelte-kqxn9h input.currencyInput__formatted {
	border: 1px solid red;
	color: red;
}
